{% comment %}
------------------------------------------------------------------------------
  Section: Featured collection
  - This the main section that you should be working on
  - Main styling is done in /styles/sections/featured-collection.scss
------------------------------------------------------------------------------
{% endcomment %}

<section class="featured-collection" data-section-id="{{ section.id }}" data-section-type="featured-collection">
  {%- assign collection = collections[section.settings.collection] -%}


  <div class="featured-collection-header">
    <h2 class="featured-collection-title">{{ collection.title | escape }}</h2>

    <p class="featured-collection-description">{{ collection.description }}</p>
  </div>

  <div class="featured-collection-grid">


  {% for product in collection.products limit: 6 %}
    {% assign current_variant = product.selected_or_first_available_variant %}

    <a class="featured-collection-card" href="{{ product.url | within: collection }}">
      <div class="featured-collection-image-wrapper" >
        {% if product.featured_image != blank %}
          {{ product.featured_image | img_url: 'large' | img_tag }}
        {% endif %}

        <span class="featured-collection-card-cta visually-hidden" js-ajax-cart="addToCart" data-variant-id="{{ current_variant.id }}" data-quantity="1">Add to cart</span>
      </div>

      <div class="featured-collection-product-title">
        <h5 data-url="{{ product.url | within: collection }}" >{{ product.title | escape }}</h5>

        <span class="featured-collection-price-container">
          {% include 'product-price' %}
        </span>
      </div>
    </a>
  {% endfor %}

</div>


<a class="collection-button" href="{{ collection.url }}">View collection</a>



</section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
